.main-heading {
    text-align: center;
    background-color: blue;
    color: white;
    font-style: normal;
    font-variant: normal;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    font-size: 21px;
}